@charset "utf-8";

//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

$family-sans-serif: 'Avenir', Helvetica, Arial, sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

//$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-height: 3.25rem;
$main-area-height: calc(100% - #{$navbar-height});