<template>
    <div class="home">
        <div class="controls">
            <div>
                Name: <input type="text" v-model="name">
            </div>
            <div>
                d<sub>top</sub>: <input type="number" v-model="measureMillis.topDiameter">
            </div>
            <div>
                d<sub>bottom</sub>: <input type="number" v-model="measureMillis.bottomDiameter">
            </div>
            <div>
                height: <input type="number" v-model="measureMillis.height">
            </div>

        </div>
        <div>
            <bottle-meter v-model="measureMillis"></bottle-meter>
        </div>
        <div class="main">
            <div class="bottlemarker">
                <BottleMarker :startAngleRad="0" :endAngleRad="arcSpec.angle"
                              :thickness="arcSpec.thickness"
                              :innerRadius="arcSpec.innerRadius">

                </BottleMarker>
            </div>
            <div class="bottlepreview">
                <BottlePreview :name="name"></BottlePreview>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import BottleMarker from '@/components/BottleMarker.vue';
import BottlePreview from '@/components/BottlePreview.vue';
import BottleMeter from '@/components/BottleMeter.vue';
import {ArcSpec, computeArcSpec} from '@/lib/bottlemarker-computations';
import {BottleNeckMeasure} from '@/lib/global-types'; // @ is an alias to /src

@Component({
    components: {
        BottleMarker,
        BottlePreview,
        BottleMeter,
    },
})
export default class Home extends Vue {
    private name: string = 'Your name';
    private measureMillis: BottleNeckMeasure = {
        bottomDiameter: 50,
        topDiameter: 40,
        height: 20,
    };

    private get arcSpec(): ArcSpec {
        return computeArcSpec(
            this.measureMillis.topDiameter,
            this.measureMillis.bottomDiameter,
            this.measureMillis.height,
        );
    }
}
</script>
<style scoped lang="scss">
    .main {
        display: flex;
    }

    @media print {
        .controls, .bottle-preview, .bottle-meter {
            display: none;
        }
    }

</style>
