<template>
    <div class="columns">
        <div class="column is-four-fifths bottle-meter">
            <bottle-meter v-model="measureMillis"></bottle-meter>
        </div>
        <div class="column is-one-fifth">
            <BottlePreview :name="name"></BottlePreview>
                <BottleMarker class="bottle-marker" :startAngleRad="0" :endAngleRad="arcSpec.angle"
                              :thickness="arcSpec.thickness"
                              :innerRadius="arcSpec.innerRadius">

                </BottleMarker>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import BottleMarker from '@/components/BottleMarker.vue';
    import BottlePreview from '@/components/BottlePreview.vue';
    import BottleMeter from '@/components/BottleMeter.vue';
    import {ArcSpec, computeArcSpec} from '@/lib/bottlemarker-computations';
    import {BottleNeckMeasure} from '@/lib/global-types'; // @ is an alias to /src

    @Component({
        components: {
            BottleMarker,
            BottlePreview,
            BottleMeter,
        },
    })
    export default class Measure extends Vue {
        private name: string = 'Your name';
        private measureMillis: BottleNeckMeasure = {
            bottomDiameter: 50,
            topDiameter: 40,
            height: 20,
        };

        private get arcSpec(): ArcSpec {
            return computeArcSpec(
                this.measureMillis.topDiameter,
                this.measureMillis.bottomDiameter,
                this.measureMillis.height,
            );
        }
    }
</script>
<style scoped lang="scss">

    .bottle-marker {
        border: 1px solid black;
    }

    .bottle-meter {
        height: 50vh;
    }

    @media print {
        .controls, .bottle-preview, .bottle-meter {
            display: none;
        }
    }

</style>
