<template>
    <div class="bottle-meter">
        <div class="controls" v-if="backgroundImageDataUrl">
            <button @click="rotate(90)">Rotate Clockwise</button>
            <button @click="rotate(-90)">Rotate Counter-Clockwise</button>
            <button @click="backgroundImageDataUrl = null">Clear Background</button>
            <label for="zoomControl">Zoom:</label><input id="zoomControl" type="number" v-model="zoom">

        </div>
        <div :class="{'bottle-canvas':true, highlighted}">
            <div v-if="backgroundImageDataUrl" class="bottle-image" :style="canvasStyles"
            ></div>
            <input v-else class="bottle-image"
                   type="file"
                   @dragenter="highlight(true)" @dragleave="highlight(false)"
                   @drop.prevent="loadImageByDroppingFile"
                   @change="loadImageByChosingFile">
            <svg v-if="backgroundImageDataUrl" class="page-marker" width="1000" height="1000" @mousewheel="onMousewheel">
                <BottleNeckSelector v-if="backgroundImageDataUrl" class="page-marker"
                                    @bottleNeckMeasure="onBottleNeckMeasure"></BottleNeckSelector>
                <PaperSelector v-if="backgroundImageDataUrl" class="page-marker"
                               @paperWidth="onPaperWidth"></PaperSelector>
            </svg>
        </div>

    </div>
</template>
<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import {BottleNeckMeasure, Point} from '@/lib/global-types';
import BottleNeckSelector from '@/components/BottleNeckSelector.vue';
import PaperSelector from '@/components/PaperSelector.vue';


@Component({
    components: {PaperSelector, BottleNeckSelector},
})
export default class BottleMeter extends Vue {

    public get canvasStyles() {
        return {
            'transform': `rotate(${this.rotation}deg)`,
            'background-image': `url('${this.backgroundImageDataUrl}')`,
            'background-size': this.zoom + '%',
        };
    }

    private get bottleMeasureMillimeters(): BottleNeckMeasure | null {
        if (this.paperWidthPixels != null && this.bottleNeckMeasure != null) {
            const factor = this.paperWidthMillimeters / this.paperWidthPixels;
            return {
                topDiameter: this.bottleNeckMeasure.topDiameter * factor,
                bottomDiameter: this.bottleNeckMeasure.bottomDiameter * factor,
                height: this.bottleNeckMeasure.height * factor,
            };
        }
        return null;
    }

    public backgroundImageDataUrl: string | null = null;
    private bottleNeckMeasure: BottleNeckMeasure | null = null;
    private paperWidthPixels: number | null = null;
    private highlighted: boolean = false;
    private rotation: number = 0;
    private zoom = 100;
    private paperWidthMillimeters = 210; // A4

    public onMousewheel(event: WheelEvent) {
        if (event.shiftKey) {
            this.zoom *= (1 + (event.deltaY / 1000));
            event.preventDefault();
        }
    }


    private highlight(highlighted: boolean) {
        this.highlighted = highlighted;
    }

    private rotate(angle: number) {
        this.rotation = (this.rotation + angle) % 360;
    }

    private loadImageByChosingFile(event: Event) {
        const target = event.target as HTMLInputElement;
        this.loadImage(target!.files![0]);
    }

    private loadImageByDroppingFile(args: DragEvent) {
        const dataTransfer = args.dataTransfer;
        if (dataTransfer != null) {
            this.loadImage(dataTransfer.files[0]);
        }
    }

    private loadImage(file: File): void {
        this.highlight(false);
        const reader = new FileReader();
        reader.onload = () => {
            this.backgroundImageDataUrl = reader.result as string;
        };
        reader.readAsDataURL(file);
    }

    private onBottleNeckMeasure(measure: BottleNeckMeasure) {
        this.bottleNeckMeasure = measure;
    }

    private onPaperWidth(paperWidth: number) {
        this.paperWidthPixels = paperWidth;
    }

    @Watch('bottleMeasureMillimeters')
    private onMeasurementChange() {
        this.$emit('input', this.bottleMeasureMillimeters);
    }

}
</script>

<style scoped lang="scss">
    .bottle-meter {
        height: 100%;
    }
    .bottle-canvas {
        position: relative;
        height: 100%;
        border: 1px solid black;
        overflow: hidden;

        &.highlighted {
            border: 1px solid blue;
        }
    }

    @mixin whole-size {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .bottle-image {
        @include whole-size();
        background-repeat: no-repeat;
        background-position: center;
    }

    .page-marker {

        @include whole-size();
    }
</style>
