<template>
    <svg width="20cm" height="25cm" viewBox="0 0 200 250">

        <path :d="innerPath.pathSpec" stroke="black" fill="none"/>
        <path :d="outerPath.pathSpec" stroke="black" fill="none"/>
        <line :x1="innerPath.start.x" :y1="innerPath.start.y" :x2="outerPath.start.x" :y2="outerPath.start.y"
              stroke="black" stroke-width="1"/>
        <line :x1="innerPath.end.x" :y1="innerPath.end.y" :x2="outerPath.end.x" :y2="outerPath.end.y"
              stroke="black" stroke-width="1"/>
    </svg>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Point} from '@/lib/global-types';
    import {ArcModel, createArcModel} from '@/lib/arcs';


    @Component
    export default class BottleMarker extends Vue {
        @Prop({required: true})
        private thickness!: number;
        @Prop({required: true})
        private innerRadius!: number;
        @Prop({required: true})
        private startAngleRad!: number;
        @Prop({required: true})
        private endAngleRad!: number;

        private get innerPath(): ArcModel {
            return createArcModel(this.center, this.innerRadius, this.startAngleRad, this.endAngleRad);
        }

        private get outerPath(): ArcModel {
            return createArcModel(this.center, this.innerRadius + this.thickness, this.startAngleRad, this.endAngleRad);
        }

        private get center(): Point {
            return {
                x: 200 - (this.innerRadius + this.thickness),
                y: 250,
            };

        }

    }
</script>

<style scoped lang="scss">
    @media print {
        .bottle-marker {
            width: 20cm;
            height: 25cm;
        }
    }
</style>
