<template>
    <g>
        <MovablePoint v-model="topLeft" @input="adjustY(topRight, $event.y)"></MovablePoint>
        <MovablePoint v-model="topRight" @input="adjustY(topLeft, $event.y)"></MovablePoint>
        <MovablePoint v-model="bottomRight" @input="adjustY(bottomLeft, $event.y)"></MovablePoint>
        <MovablePoint v-model="bottomLeft" @input="adjustY(bottomRight, $event.y)"></MovablePoint>
        <g id="topLabel" class="graph-label">
            <path id="topLabelPath" :d="['M',topLeft.x,topLeft.y,'L',topRight.x,topRight.y].join(' ')"></path>
            <text dy="-1em">
                <textPath text-anchor="middle" href="#topLabelPath" startOffset="50%">
                    d
                    <tspan class="subscript">top</tspan>
                </textPath>
            </text>
        </g>
        <g id="bottomLabel" class="graph-label">
            <path id="bottomLabelPath"
                  :d="['M',bottomLeft.x,bottomLeft.y,'L',bottomRight.x,bottomRight.y].join(' ')"></path>
            <text dy="-1em">
                <textPath text-anchor="middle" href="#bottomLabelPath" startOffset="50%">
                    d
                    <tspan class="subscript">bottom</tspan>
                </textPath>
            </text>
        </g>
        <path class="nopointer" :d="pathSpec" stroke="red" fill="transparent" stroke-width="2"/>
        <path class="nopointer" :d="verticalLinesSpec" stroke="green" stroke-dasharray="4" fill="transparent"
              stroke-width="1"/>
    </g>
</template>
<script lang="ts">
import {Component, Prop, Watch, Vue} from 'vue-property-decorator';
import {Handle, Point} from '@/lib/global-types';
import MovablePoint from '@/components/MovablePoint.vue';


@Component({
    components: {MovablePoint},
})
export default class BottleNeckSelector extends Vue {
    private topLeft: Point = {x: 400, y: 200};
    private topRight: Point = {x: 600, y: 200};
    private bottomLeft: Point = {x: 300, y: 400};
    private bottomRight: Point = {x: 700, y: 400};


    public get pathSpec() {
        return [
            'M', this.svgPoint(this.topLeft),
            'L', this.svgPoint(this.topRight),
            'L', this.svgPoint(this.bottomRight),
            'L', this.svgPoint(this.bottomLeft),
            'L', this.svgPoint(this.topLeft),
        ].join(' ');
    }

    public get verticalLinesSpec() {
        return [
            'M', this.topLeft.x, 0,
            'L', this.topLeft.x, 1000,
            'M', this.bottomLeft.x, 0,
            'L', this.bottomLeft.x, 1000,
            'M', this.topRight.x, 0,
            'L', this.topRight.x, 1000,
            'M', this.bottomRight.x, 0,
            'L', this.bottomRight.x, 1000,
        ].join(' ');
    }

    private svgPoint(point: Point) {
        return point.x + ' ' + point.y;
    }

    private adjustY(point: Point, y: number) {

        point.y = y;
    }

    @Watch('topLeft')
    @Watch('topRight')
    @Watch('bottomLeft')
    @Watch('bottomRight')
    private inputChanged() {
        this.$emit('bottleNeckMeasure', {
            topDiameter: Math.abs(this.topLeft.x - this.topRight.x),
            bottomDiameter: Math.abs(this.bottomLeft.x - this.bottomRight.x),
            height: Math.abs(this.topLeft.y - this.bottomLeft.y),
        });
    }

}
</script>

<style scoped lang="scss">
    .nopointer {
        pointer-events: none;

    }

    .graph-label {
        text {
            font-size: 1.2rem;
            mix-blend-mode: exclusion;
            font-weight: bold;
            fill: white;
        }

        .subscript {
            font-size: 0.8rem;
            baseline-shift: sub;
        }
    }

</style>
