<template>
    <div>
        <svg class="bottle-preview" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="50 30 100 230" width="100" height="230">
            <defs>
                <marker orient="auto" refY="0" refX="0" id="g" overflow="visible">
                    <path d="M-10 0l-4 4L0 0l-14-4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
                <marker orient="auto" refY="0" refX="0" id="f" overflow="visible">
                    <path d="M10 0l4-4L0 0l14 4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
                <marker orient="auto" refY="0" refX="0" id="e" overflow="visible">
                    <path d="M-10 0l-4 4L0 0l-14-4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
                <marker orient="auto" refY="0" refX="0" id="d" overflow="visible">
                    <path d="M10 0l4-4L0 0l14 4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
                <marker id="c" refX="0" refY="0" orient="auto" overflow="visible">
                    <path d="M-10 0l-4 4L0 0l-14-4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
                <marker id="b" refX="0" refY="0" orient="auto" overflow="visible">
                    <path d="M10 0l4-4L0 0l14 4z" fill-rule="evenodd" stroke="#000" stroke-width="1.0664"/>
                </marker>
            </defs>
                <g stroke="gray" fill="none">
                    <path d="M79.6 32.856c0-.888-1.603.441-1.603.988 0 .548.715.988 1.603.988-.888 0-1.603.441-1.603.989 0 .547.715.988 1.603.988-.888 0-1.603.44-1.603.988s.715.988 1.603.988c-.888 0-1.603.441-1.603.989 0 .547.715.988 1.603.988-.888 0-1.603.44-1.603.988 0 .479.547.876 1.28.968.104.013.212.02.323.02h-1.244l-27.057 97.231h.216v111.56c.013 8.717 70.916 8.564 70.84 0v-111.56h.215L93.911 42.738h-1.603c.888 0 1.603-.44 1.603-.988s-.715-.988-1.603-.988c.888 0 1.603-.44 1.603-.988s-.715-.989-1.603-.989c.888 0 1.603-.44 1.603-.988 0-.547-.715-.988-1.603-.988.888 0 1.603-.441 1.603-.988 0-.548-.715-.989-1.603-.989.888 0 1.603-.44 1.603-.988 0-.547-1.603-1.876-1.603-.988 0 1.976-12.708 1.976-12.708 0z"
                          stroke-width="1.0001124" stroke-opacity=".902"/>
                    <path d="M51.299 139.97c.49 8.62 70.94 7.64 71.271 0M78.316 42.64c-.076 2.62 15.748 2.914 15.595.098M79.6 32.856c.014-2.487 12.877-2.375 12.94-.326"/>
                </g>
                <path d="M65.502 89.038c-.262 4.624 42.128 4.636 41.992 0l6.415 20.938c-.284 6.426-53.707 7.785-53.886 0z"
                      fill="#fff6d5" stroke="#000" stroke-width=".814" stroke-linejoin="round" stroke-opacity=".902"/>
                <ellipse ry="11.994" rx="11.201" cy="112.974" cx="86.054" fill="#fff6d5" stroke="#000"
                         stroke-width=".387"
                         stroke-linejoin="round" stroke-opacity=".902"/>
                <path d="M83.482 120.456h8.445c-.355-1.667-.78-4.41-.597-5.083.3-1.14 1.274-2 1.64-2.915 1.86-4.647-.413-8.693-5.553-9.23-4.539-.474-7.063 2.103-7.418 4.765-.038.286 0 .57.134.866-.623.974-2.059 2.41-2.182 3.099-.075.414.414.56.65.704.226.076.473.022.624.205.107.134-.038.36-.07.527-.005.274-.328.409-.296.662.032.215.215.3.382.435.177.14-.452.409-.248.656.21.242.517.522.409.866-.156.533-.457 1.087-.21 1.501.248.409.592.651 1.124.759.833 0 1.672.016 2.51.016.29.252.495 1.07.656 2.167z"/>
                <text style="line-height:1.25;text-align:center" font-weight="400" font-size="5.908"
                      font-family="sans-serif"
                      letter-spacing="0" word-spacing="0" stroke-width=".148" text-anchor="middle">
                    <textPath startOffset="50%" xlink:href="#a">
                        <tspan style="text-align:center">{{name}}</tspan>
                    </textPath>
                </text>
                <g fill="none" stroke="#000" stroke-width=".265">
                    <path d="M65.502 89.038V70.355M107.494 89.038V71.024"/>
                    <path d="M65.748 75.085h41.427" stroke-dasharray="1.05999995,.26499999" marker-start="url(#b)"
                          marker-end="url(#c)"/>
                </g>
                <path d="M59.68 129.784v-18.683M113.844 128.726V110.71" fill="none" stroke="#000" stroke-width=".265"/>
                <path d="M60.457 128.002h53.068" fill="none" stroke="#000" stroke-width=".265"
                      stroke-dasharray="1.05999995,.26499999" marker-start="url(#d)" marker-end="url(#e)"/>
                <g fill="none" stroke="#000">
                    <path d="M107.494 89.038h23.227" stroke-width=".295"/>
                    <path d="M114.755 110.151h18.015" stroke-width=".265"/>
                    <path d="M91.23 85.668h20.178" stroke-width=".265" stroke-dasharray="1.05999995,.26499999"
                          marker-start="url(#f)" marker-end="url(#g)" transform="rotate(90 107.977 106.4)"/>
                </g>
                <path d="M84.59 132.897v0" fill="none" stroke="#000" stroke-width=".265"/>
                <text y="67.652" x="78.816" style="line-height:1.25" font-weight="400" font-size="10.583"
                      font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".265">
                    <tspan y="67.652" x="78.816">d
                        <tspan font-size="65%" baseline-shift="sub">top</tspan>
                    </tspan>
                </text>
                <text y="103.182" x="130.599" style="line-height:1.25" font-weight="400" font-size="10.583"
                      font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".265">
                    <tspan y="103.182" x="130.599">h</tspan>
                </text>
                <text y="137.956" x="80.706" style="line-height:1.25" font-weight="400" font-size="10.583"
                      font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".265">
                    <tspan y="137.956" x="80.706">d
                        <tspan font-size="65%" baseline-shift="sub">bottom</tspan>
                    </tspan>
                </text>
                <path id="a" d="M65.472 96.143c.134 1.952 9.477 2.866 19.219 2.892 10.644.029 21.764-1.001 21.864-2.892"
                      fill="none" stroke="none" stroke-width=".523" stroke-linecap="butt" stroke-linejoin="miter"
                      stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1"/>
        </svg>
    </div>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Point} from '@/lib/global-types';
    import {ArcModel, createArcModel} from '@/lib/arcs';


    @Component
    export default class BottlePreview extends Vue {

        @Prop()
        private name: string = 'Your name';

    }
</script>

<style scoped lang="scss">
    .bottle-preview {
        width: 100%;
        height: auto;
    }
</style>
