<template>
    <circle :cx="value.x" :cy="value.y" :class="cssClasses" @mousedown="mouseDown" @drag="draggingEvent" @mouseup="mouseUp"></circle>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {Point} from '@/lib/global-types';


@Component
export default class MovablePoint extends Vue {

    @Prop({type: Object, required: true})
    private value!: Point;

    private dragging: boolean = false;

    private mousePointerPositionWhenDragStarted: Point | null = null;
    private handlePositionWhenDragStarted: Point | null = null;

    public get cssClasses() {
        return {
            'movable-point': true,
            'dragging': this.dragging,
        };
    }

    public get cssStyle() {
        return {
            top: this.value.y + 'px',
            left: this.value.x + 'px',
        };
    }

    public mouseDown(event: MouseEvent): void {
        this.dragging = true;
        this.mousePointerPositionWhenDragStarted = {
            x: event.x,
            y: event.y,
        };
        this.handlePositionWhenDragStarted = {
            x: this.value.x,
            y: this.value.y,
        };
        const parentMouseMoveListener = (parentMouseEvent: MouseEvent) => {
            this.draggingEvent(parentMouseEvent);
        };

        this.$el.parentElement!.addEventListener('mousemove', parentMouseMoveListener);
        this.$el.parentElement!.addEventListener('mouseup', () => {
            this.$el.parentElement!.removeEventListener('mousemove', parentMouseMoveListener);
        }, {once: true});
    }

    public draggingEvent(event: MouseEvent): void {
        if (this.handlePositionWhenDragStarted
            && this.mousePointerPositionWhenDragStarted
            && event.x > 0
            && event.y > 0) {
            const newX = this.handlePositionWhenDragStarted.x + event.x - this.mousePointerPositionWhenDragStarted.x;
            const newY = this.handlePositionWhenDragStarted.y + event.y - this.mousePointerPositionWhenDragStarted.y;
            this.$emit('input', {x: newX, y: newY});
        }
    }

    public mouseUp(): void {
        this.handlePositionWhenDragStarted = null;
        this.mousePointerPositionWhenDragStarted = null;
        this.dragging = false;
    }

}
</script>

<style scoped lang="scss">
    .movable-point {
        border: 1px solid red;
        transition: r 0.2s ease, fill 0.2s ease;
        fill: transparentize(darkred, 0.2);
        stroke: white;
        stroke-width: 2;
        r: 10;
        z-index: 100;

        &.dragging {
            transition: none;
        }

        &.dragging, &:hover {
            r: 50;
            fill: transparentize(red, 0.8);
            stroke-width: 1;
        }
    }
</style>
