<template>
    <g>
        <MovablePoint v-model="leftEdge" @input="adjustY(rightEdge, $event.y)"></MovablePoint>
        <MovablePoint v-model="rightEdge" @input="adjustY(leftEdge, $event.y)"></MovablePoint>
        <path id="paperSelectPath" :d="pathSpec" class="nopointer" stroke="darkgreen" fill="transparent" stroke-width="5"/>
        <path :d="pathSpec" class="nopointer" stroke="white" fill="transparent" stroke-width="1"/>
        <g id="bottomLabel" class="graph-label">
            <path id="pageMarkerLabelPath"
                  :d="['M',leftEdge.x,leftEdge.y,'L',rightEdge.x,rightEdge.y].join(' ')"></path>
            <text dy="-0.5em">
                <textPath text-anchor="middle" href="#pageMarkerLabelPath" startOffset="50%">
                    DIN A4 - page width (21cm)
                </textPath>
            </text>
        </g>
    </g>
</template>
<script lang="ts">
import {Component, Prop, Watch, Vue} from 'vue-property-decorator';
import {Handle, Point} from '@/lib/global-types';
import MovablePoint from '@/components/MovablePoint.vue';


@Component({
    components: {MovablePoint},
})
export default class MovablePolygon extends Vue {
    private leftEdge: Point = {x: 20, y: 500};
    private rightEdge: Point = {x: 400, y: 500};
    private height: number = 50;

    private get pathSpec() {
        return [
            'M', this.svgPoint({x: this.leftEdge.x, y: this.leftEdge.y}),
            'L', this.svgPoint({x: this.rightEdge.x, y: this.rightEdge.y}),
            'M', this.svgPoint({x: this.leftEdge.x, y: this.leftEdge.y - this.height / 2}),
            'L', this.svgPoint({x: this.leftEdge.x, y: this.leftEdge.y + this.height / 2}),
            'M', this.svgPoint({x: this.rightEdge.x, y: this.rightEdge.y - this.height / 2}),
            'L', this.svgPoint({x: this.rightEdge.x, y: this.rightEdge.y + this.height / 2}),
        ].join(' ');
    }

    private svgPoint(point: Point) {
        return point.x + ' ' + point.y;
    }

    private adjustY(point: Point, y: number) {
        point.y = y;
    }

    @Watch('leftEdge')
    @Watch('rightEdge')
    private inputChanged() {
        this.$emit('paperWidth', Math.abs(this.rightEdge.x - this.leftEdge.x));
    }

}
</script>

<style scoped lang="scss">
    .nopointer {
        pointer-events: none;

    }

    .graph-label {
        text {
            font-size: 1.2rem;
            mix-blend-mode: exclusion;
            font-weight: bold;
            fill: white;
        }

        .subscript {
            font-size: 0.8rem;
            baseline-shift: sub;
        }
    }

</style>
