<template>
    <div id="app" class="main-area container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link class="navbar-item" to="/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </router-link>
                <a role="button" :class="burgerCssClasses" aria-label="menu" aria-expanded="false" @click="toggleMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div :class="menuCssClasses">
                <router-link class="navbar-item" to="/measure">Measure</router-link>
                <router-link class="navbar-item" to="/print">Print</router-link>
                <router-link class="navbar-item" to="/about">About</router-link>
            </div>
        </nav>
        <div >
            <router-view  />
        </div>
    </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
})
export default class Measure extends Vue {
    public showMenu: boolean = false;

    get menuCssClasses() {
        return {
            'navbar-menu': true,
            'is-active': this.showMenu,
        };
    }

    get burgerCssClasses() {
        return {
            'navbar-burger': true,
            'burger': true,
            'is-active': this.showMenu,
        };
    }

    public toggleMenu(): void {
        this.showMenu = !this.showMenu;
    }

}
</script>

<style lang="scss">
    @import "./styles/settings.scss";

    #app {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid red;
        box-sizing: border-box;
    }
</style>
